@model List<Region>

<h1>Listar Regiones</h1>
<table class="table border">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Pueblos</th>
        <th>Operaciones</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nombre</td>
            <td>
                @foreach (var pueblo in item.Pueblos)
                {
                    <span>@pueblo.Nombre</span>
                }
            </td>
            <td>
                <a href="/ubicaciones/EditarRegion/@item.Id" class="btn btn-secondary">Editar</a>
                <form action="/ubicaciones/BorrarRegion" method="post" class="d-inline-block">
                    <input type="hidden" name="id" value="@item.Id">
                    <button class="btn btn-danger">Borrar</button>
                </form>
            </td>
        </tr>      
    }
    @if(Model.Count ==0){
        <tr>
            <td colspan="4" class="text-center">No se encontraron registros</td>
        </tr>
    }
</table>
<a href="/ubicaciones/nuevaregion" class="btn btn-primary">Añadir región</a>